.user-name {
  font-weight: bold;
  color: #343a40;
}

.contact-list a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #85e885;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.contact-list a:hover {
  background-color: #2fb72f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-list a:active {
  background-color: #c1e3c1;
}

.btn-primary {
  background-color: #28a745;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #218838;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.chat-header {
  margin-bottom: 20px;
  font-size: 1.25rem;
  color: #333;
}

.form-control {
  border-radius: 15px;
  box-shadow: none;
}

.chat-box {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  width: fit-content;
}

.message.sent {
  background-color: #27a46c;
  align-self: flex-end;
  border-radius: 15px 15px 15px 0;
}

.message.received {
  background-color: #451116;
  border-radius: 15px 15px 15px 0;
}

.timestamp {
  font-size: 0.8em;
  color: #9f8a0e;
  text-align: center;
  display: block;
  margin: 5px 0;
}
